body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
}

.profileimg {
    border-radius: 10px;
    border: 1.5px solid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    opacity: 0.9;
    transition: 0.3s;
}

.profileimg:hover {
    opacity: 1;
}

body {
    /*background: linear-gradient(#fff 50%, #0077bb);*/
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col1, .col2 {
    width: 50%;
}

.col1 {
    position: fixed;
    margin-top: 10%;
}

.col2 {
    margin-left: 40%;
    overflow: auto;
    padding-top: 1%;
}

@media(max-width: 1280px){ 
    .layout {
       flex-direction: column;
       flex: auto;
       width: 100%;
    }
    .col1 { 
       width: 100%;
       position: absolute;
       font-size: 2vw;
    }

    .col2 {
        margin-top: 50%;
        margin-left: 0;
        width: 100%;
        font-size: 1vw;
    }

    [data-theme="light"] {

        background-color: #FAFAFA;
    }

    [data-theme="dark"] {
    
        background-color: #191B19;
        color: #C0C4C4;
    }

    [data-theme="dark"] .footer {
    
        color: #C0C4C4;
    }



}

p {
    padding-bottom: 0.5px;
}

a {
    text-decoration: none;
    color: #0077bb;
}

a:hover {
    color: #000;
}

.typewriter {
    padding-top: 2%;
    margin-top: 2%;
    width: 31%;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #0077bb; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
        typing 2.5s steps(30, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #0077bb; }
}

.footer {
    background-color: #0077bb;
    padding: 10px;
    margin-top: 15%;
    text-align: center;
    color: #fff;
}

.card {
    border-radius: 10px;
    line-height: 1.5;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5px 20px 5px 20px;
    background-color: #fff;
    margin: 5%;
    opacity: 0;
    animation: fadeIn 2s ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.card h2 {
    text-decoration: underline #0077bb 3px;
}

.card ul {
    list-style-type: circle;
    margin-top: -15px;
}

.card:nth-child(1) {
    animation-delay: 0s;
}

.card:nth-child(2) {
    animation-delay: 0.5s;
}

.card:nth-child(3) {
    animation-delay: 1s;
}

.card:nth-child(4) {
    animation-delay: 1.5s;
}

.card:nth-child(5) {
    animation-delay: 2s;
}

.card:nth-child(6) {
    animation-delay: 2.5s;
}

.card:nth-child(7) {
    animation-delay: 3.0s;
}

.card:nth-child(8) {
    animation-delay: 3.0s;
}

@keyframes fadeIn {  
    from {  
        opacity: 0;  
    }  
 
    to {  
        opacity: 1;  
    }  
 }

.switch {
    height: 100px;
}
    
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #0077bb;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

[data-theme="light"] {

    background-color: #FAFAFA;
}

/*Dark mode colours*/
[data-theme="dark"] {

    background-color: #191B19;
    color: #C0C4C4;
}

[data-theme="dark"] header {
    background-color: #1a1a1a;
}

[data-theme="dark"] .card {
    border-radius: 10px;
    line-height: 1.5;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5px 20px 5px 20px;
    background-color: #272927;
    margin: 5%;
    opacity: 0;
    animation: fadeIn 2s ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

[data-theme="dark"] .card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,1);
}

[data-theme="dark"] a:hover {
    color: #C0C4C4;
}

[data-theme="dark"] .footer {
    
    color: #C0C4C4;
}